* {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;

}

/*DEBUT HEADER*/
.header {
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;

    h1 {
        text-align: center;
        color: black;
        font-family: "Shrikhand";
        font-weight: 500;
    }
}

/*FIN HEADER*/

.location {
    display: flex;
    justify-content: center;
    background-color: $grey2;
    width: 100%;
    padding: 1.5rem 0;
    font-weight: 500;
}


/*DEBUT DESCRIPTION*/
.main__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $grey1;
    text-align: center;
    padding: 60px 0;
    gap: 35px;

    h1 {
        font-size: 30px;
        width: 90%;
        font-weight: 500;
    }

    p {
        font-size: 18px;
        font-weight: 300;
        width: 92%;
        color: #353535;
    }

    .main__description__btn {
        background: linear-gradient(to bottom, #FF79DA, #9356DC 100%);
        padding: 20px;
        color: white;
        border-radius: 1.8rem;
        letter-spacing: 1px;
        transition: all .4s ease-in-out;
    }

    .main__description__btn:hover {
        box-shadow: 5px 5px 5px #000;
        background: linear-gradient(to bottom, #ff93e1, #a16be0 100%);
    }


}

/*FIN DESCRIPTION*/

/*DEBUT FONCTIONNEMENT*/
.main__menu {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;

    .fa-solid {
        color: #7e7e7e;
    }

    .fa-store {
        color: $primary;
    }

    h2 {
        margin-bottom: 25px;
        font-size: 30px;
    }

    .main__menu__step {
        max-width: 50rem;
        display: flex;
        margin-bottom: 40px;
        justify-content: flex-start;
        font-size: 20px;
        font-weight: 500;
        background-color: $grey1;
        padding: 10px 0;
        border-radius: 25px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .200);
        cursor: pointer;
    }

    .main__menu__step p,
    .main__menu__step i {
        margin: 0 20px 0 20px;
    }

    .main__menu__0 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: -10px;
        width: 0.5rem;
        height: 0.5rem;
        font-size: 15px;
        padding: 10px;
        border-radius: 50px;
        background-color: $primary;
        color: white;
    }
}

/*FIN FONCTIONNEMENT*/

/*DEBUT RESTAURANTS*/
.main__restaurants {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    background-color: $grey1;

    h2 {
        margin-bottom: 25px;
        font-size: 30px;
        font-weight: 500;
        text-align: start;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 50rem;

        a {
            color: black;
            background-color: white;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            border-radius: 2rem;
            
            gap: 20px;
            margin-bottom: 50px;

            .new {
                position: absolute;
                border-radius: 3px;
                padding: 10px 15px;
                font-weight: 500;
                color: $green-font;
                background-color: $green;
                top: 5%;
                right: 5%;
            }

            img {
                border-radius: 2rem 2rem 0 0;
                object-position: center;
                width: 100%;
                height: 200px;
                object-fit: cover;
            }

            .card__info {
                display: flex;
                flex-direction: column;
                margin: 0 20px 20px 20px;
                position: relative;

                h3 {
                    font-weight: 500;
                }
            }

            i {
                position: absolute;
                right: 1%;
                font-size: 25px;
            }

            .fa-solid {
                color: transparent;
                background: linear-gradient(to bottom, #ff93e1, #a16be0 100%);
                background-clip: text;
                opacity: 0;
                transition: all .4s ease-in-out;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

/*FIN RESTAURANTS*/

/*DEBUT FOOTER*/
.footer {
    background-color: #353535;
    display: flex;
    flex-direction: column;
    padding: 2rem;

    .footer__title {
        color: white;
        margin-bottom: 30px;
        font-family: "Shrikhand";
        font-weight: 400;
    }

    li {
        list-style: none;
        color: white;
        margin-bottom: 15px;
        margin-left: -40px;

        a {
            color: white;
        }

        i {
            margin-right: 10px;
        }
    }

}

/*FIN FOOTER*/


/*MEDIA QUERIES TABLET*/

@media (min-width: 800px) {

    .main__menu {
        align-items: center;

        .main__menu__step {
            width: 30rem;

            p {
                margin-left: 5rem;
            }
        }

    }

    .main__restaurants {
        align-items: center;

        .card {
            width: 70%;
        }
    }

}

/*MEDIA QUERIES SMARTPHONE*/

@media (min-width: 1124px) {
    * {
        max-width: 1440px;
        margin: 0 auto;
    }

    .main__description {

        h1 {
            font-size: 40px;
            font-weight: 700;
        }

    }

    .main__menu {
        align-items: inherit;
        padding: 2rem 5rem 0;

        h2 {
            margin-left: 20px;
        }

        .main__menu__container {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .main__menu__step {
                width: 28%;
                border-radius: 1rem;
                
                p {  
                    width: 100%;
                    margin: 0.5rem 1rem 0.5rem 0;
                    font-size: 16px;
                }
            }
        }
    }

    .main__restaurants {
        padding: 2rem 5rem 3rem ;
        max-width: 1440px;
        display: inherit;

        h2{
            margin: 2rem;
        }
        
        .card {
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            max-width: 80rem;
            margin: 0;

            a {
               width: 45%;

               h3,p{
                margin: 0;
               }
            }
        }
    }

    .footer {
        flex-direction: row-reverse;
        gap: 4rem;
        padding: 2rem 0 0 0;

        h2 {
            margin: 0 7rem 0 0;
        }

        ul {
            margin: 0.5rem 0 0 0;
            display: flex;
            flex-direction: row;
            gap: 5rem;
        }
    }
}