* {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

/*DEBUT HEADER*/
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: #353535;

    .header__location {
        display: flex;
        justify-content: center;
        background-color: $grey2;
        width: 100%;
        padding: 15px 0px;
        margin-top: 15px;
        font-weight: 500;

    }

    .header__logo {
        margin-right: 10px;
        font-size: 22px;
    }
}

/*FIN HEADER*/

/*DEBUT DESCRIPTION*/
.main__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $grey1;
    text-align: center;
    padding: 60px 0;
    gap: 35px;

    .main__description__title {
        font-size: 30px;
        width: 90%;
        font-weight: 500;
    }

    .main__description__text {
        font-size: 21px;
        font-weight: 300;
        width: 80%;
        color: #353535;
    }

    .main__description__btn {
        background: linear-gradient(to bottom, #FF79DA, #9356DC 100%);
        padding: 20px;
        color: white;
        border-radius: 1.8rem;
        letter-spacing: 1px;
        transition: all .1s ease-in-out;
    }

    .main__description__btn:hover {
        box-shadow: 5px 5px 5px #000;
        background: linear-gradient(to bottom, #ff93e1, #a16be0 100%);
    }
}

/*FIN DESCRIPTION*/

/*DEBUT FONCTIONNEMENT*/
.main__menu {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;

    .fa-solid {
        color: #7e7e7e;
    }

    .fa-store {
        color: $primary;
    }

    .main__menu__title {
        margin-bottom: 25px;
        font-size: 30px;
    }

    .main__menu__step {
        display: flex;
        margin-bottom: 40px;
        justify-content: flex-start;
        font-size: 20px;
        font-weight: 500;
        background-color: $grey1;
        padding: 20px 0;
        border-radius: 25px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .200);
        cursor: pointer;
    }

    .main__menu__step p,
    .main__menu__step i {
        margin: 0 20px 0 20px;
    }

    .main__menu__0 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: -10px;
        width: 0.5rem;
        height: 0.5rem;
        font-size: 15px;
        padding: 10px;
        border-radius: 50px;
        background-color: $primary;
        color: white;
    }
/*FIN FONCTIONNEMENT*/

    

}